a {
	text-decoration: none;
}

body {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	color: gray;
	margin-top: 30px;
	margin-bottom: 30px;
    background-image: url('../images/snowflakes_with_blue.jpg');
	background-repeat: repeat;
 }	
	
.contentWrapper {
	width: 900px;
	height: 100%;
	margin: auto;
	background-color: white;
	margin-top: 30px;
	padding: 25px 25px 60px 25px;
	box-shadow: 5px 5px 10px #888;
	border-radius: 10px;
}

.content {
	width: 700px;
	margin: auto;
}

.mainContent {
	width: 275px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.form-group {
	padding-top: 10px;
}

.pswd {
	color: red;
}

th {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 1.2em;
	padding-right: 15px;
}

td {
	padding-bottom: 20px;
	padding-right: 15px;
}

h1 {
	display: inline;
	vertical-align: middle;
	font-size: 3em;
	color: rgb(219, 42, 82);
}

h2  {
	font-size: 1.5em;
	color: rgb(108, 80, 80);
	text-align: center;
}

.header {
	font-size: 3em;
	color: rgb(219, 42, 82);
	font-size: 3em;
}

.subhead, .header {
	text-align: center;
	padding-top: 30px;
}

.description {
	padding-top: 40px;
	line-height: 2.0em;
	width: 600px;
	font-size: 1.1em;
	color: rgb(108, 80, 80);
}

.total {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 30px;
}

.headimg {
	
	width: 300px;
	clear: both;
}

.flash-message, .error {
	font-weight: bold;
	color: red;
}

.flash-message {
	font-size: 1.2em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.contentimg {
	padding-top: 40px;
	width: 400px;
	height: 250px;
}

td {
	text-align: center;
}

#logout, #signin {
	font-weight: bold;
	float: right;
}

#sitenav {
	padding-top: 30px;
}

#sitenav  ul {
	padding-top: 30px;
	padding-bottom: 5px;
	margin-bottom: 60px;
}

#sitenav  li {
	display: inline;
	padding-left: 1em; 	
	padding-bottom: 5px;
}
	
a:link , a:visited {
	color: #545454;	
}

a:hover {
	color: red; 
}

