/* Main Styling (backgrounds, fonts, etc) */

a {
	text-decoration: none;
}

body {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	color: gray;
	margin-top: 30px;
	margin-bottom: 30px;
    background-image: url('../images/snowflakes_with_blue.jpg');
	background-repeat: repeat;
 }	
	
.contentWrapper {
	width: 900px;
	height: 100%;
	margin: auto;
	background-color: white;
	margin-top: 30px;
	padding: 25px;
	box-shadow: 5px 5px 10px #888;
	border-radius: 10px;
}

/*
.content {
	text-align: center;
}
*/

th {
	padding-bottom: 30px;
	font-size: 1.3em;
}

h1 {
	display: inline;
	vertical-align: middle;
	font-size: 3em;
	color: skyblue;
	color: rgb(219, 42, 82);
}

h2 {
	font-size: 1.5em;
	color: rgb(108, 80, 80);
}

.description {
	padding-top: 40px;
}

.headimg {
	
	width: 300px;
	clear: both;
}

.flash_message {
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}
.contentimg {
	
	padding-top: 40px;
	width: 400px;
	height: 250px;

}

td {
	text-align: center;
}

#logout, #signin {
	font-weight: bold;
	float: right;
}

/* Site Navigation only:  */
#sitenav {
	padding-top: 30px;
	padding-bottom: 10px;
	
}
#sitenav  li {
	display: inline;
	padding-left: 1em; 	
	padding-bottom: 5px;
}

#sitenav a:active {
	text-decoration: none;
}
	
a:link , a:visited {
	color: #545454;	
}

a:hover {
	color: red; 
}

